# Introduction to Pandas

## What is Pandas

- **Pandas** is a powerful open-source Python library for data manipulation and analysis.  
- Created by **Wes McKinney** (2008 onward) to provide flexible, high-performance, easy-to-use data structures for working with structured (tabular / time-series) data.

## Key Features & Benefits

- Works well with **tabular data** (like spreadsheets, SQL tables), where data is organized in rows and columns.  
- Supports various file types: **CSV**, **Excel**, **JSON**, **SQL databases** etc.  
- Makes cleaning data easier: handling **missing / null values**, detecting and dealing with **duplicates**, converting data types.  
- Provides quick and powerful summary and descriptive statistics: minimum, maximum, mean, sum, etc.  
- Indexing / alignment: rows/columns are labeled; operations align on labels.  
- Integration with **NumPy**, **Matplotlib**, and other data/scientific libraries for numerical computing, visualization, machine learning pipelines.

## Main Data Structures

| Structure | Description |
|-----------|-------------|
| **Series** | One-dimensional labeled array. Each element has a label (index). Homogeneous data type (all elements in one Series share a type). |
| **DataFrame** | Two-dimensional table of data. Think of it like a spreadsheet: rows and columns. Columns can have different types (numeric, string, datetime). |

## Fundamental Concepts & Terminology

- **Row** = one observation / record  
- **Column** = one feature / attribute / variable  
- **Index / Labels** = identifiers for rows (and columns have names)  
- **Data types (dtypes)** = what kind of data is stored (integer, float, string/object, datetime, categorical etc)  
- **Missing / null** values: often represented by `NaN`, `None`, `NaT`; need special handling  
- **Shape** = number of rows & number of columns  
- **Size** = total number of elements (rows × columns)  

## Example Operations (in principle)

Below are typical operations you will do, which we will see in code later:

1. **Import / Export**  
   - Read a file into a DataFrame (e.g., CSV, Excel)  
   - Write a DataFrame back to a file  

2. **Inspecting Data**  
   - View first few / last few rows  
   - Get number of rows & columns  
   - Get data types of columns  
   - Identify missing values  

3. **Descriptive Statistics / Summaries**  
   - Count (how many non-missing entries)  
   - Sum, Mean (average)  
   - Min & Max values  
   - Possibly standard deviation, quartiles etc  

4. **Cleaning / Preprocessing**  
   - Remove or fill missing values  
   - Change data types  
   - Rename columns  
   - Filter / select subsets of data  

## Pandas in a Data Workflow

1. **Loading / Importing** data from external sources  
2. **Exploration / Inspection** to understand the data (shape, types, missingness, basic statistics)  
3. **Cleaning / Transforming** data (e.g., handling nulls, converting types, filtering)  
4. **Analysis / Aggregation** (grouping, summarization, statistical measures)  
5. **Exporting** results or cleaned data for further use or reporting  

---

*In upcoming session:* We’ll move from this theory to actual code, where you’ll see how to do all these things in Python + Pandas: importing, exploring, summarizing, cleaning, and exporting a dataset.

# Installing Pandas

Before using Pandas, we need to make sure it is installed in our Python environment.  
We can install external Python libraries using **pip** (Python package manager).

⚠️ Note: If you are running Jupyter inside Anaconda, Pandas may already be installed.  
But to be safe, we will run the installation command.

In [2]:
# Install pandas using pip
# The "!" allows us to run shell commands directly from Jupyter Notebook.
!pip install -U pandas

Requirement already satisfied: pandas in c:\users\vipul\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vipul\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vipul\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vipul\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vipul\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\vipul\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# Importing Pandas

Once Pandas is installed, we need to import it into our notebook.  
By convention, Pandas is almost always imported with the alias **pd**.  
This makes it easier and shorter to call its functions and classes.

For example:  
- Instead of writing `pandas.DataFrame()`,  
- We can simply write `pd.DataFrame()`.

In [3]:
# Importing pandas using the standard alias 'pd'
import pandas as pd

# Checking version to confirm import worked
print("Pandas version:", pd.__version__)

Pandas version: 2.3.2

# Creating a DataFrame from a List

We can create a DataFrame using a **list of lists** (rows of data).  
While doing this, we must also specify the **column names** explicitly.

In [4]:
import pandas as pd

# Creating a DataFrame from a list of lists
data_list = [
    [1, "Alice", 23],
    [2, "Bob", 27],
    [3, "Charlie", 22]
]
columns = ["ID", "Name", "Age"]
df_from_list = pd.DataFrame(data_list, columns=columns)

print(df_from_list)

   ID     Name  Age
0   1    Alice   23
1   2      Bob   27
2   3  Charlie   22

# Creating a DataFrame from a Dictionary

Another common way is to use a **Python dictionary**.  
- Keys of the dictionary become the **column names**.  
- Values (lists) become the **column data**.

In [ ]:
# Creating a DataFrame from a dictionary
data_dict = {
    "ID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [23, 27, 22]

}

df_from_dict = pd.DataFrame(data_dict)

print(df_from_dict)

   ID     Name  Age
0   1    Alice   23
1   2      Bob   27
2   3  Charlie   22

# Creating a DataFrame from a Dictionary with Custom Index

Pandas allows us to specify custom **row labels (index)** while creating a DataFrame.  
For example, instead of default numeric indices (0, 1, 2),  
we can use identifiers like **emp001, emp002, emp003**, etc.

In [6]:
import pandas as pd

# Dictionary with column data
data_dict = {
    "ID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [23, 27, 22]
}

# Custom index names
custom_index = ["emp001", "emp002", "emp003"]

# Creating DataFrame with custom index
df_custom_index = pd.DataFrame(data_dict, index=custom_index)

print("DataFrame with Custom Index:\n")
print(df_custom_index)

DataFrame with Custom Index:

        ID     Name  Age
emp001   1    Alice   23
emp002   2      Bob   27
emp003   3  Charlie   22

# A Unified Function to Convert Data into a Pandas DataFrame

We will write a function `convert_to_pd(data, indexes=None, send_column_info=True)`  
that takes either:
1. A **list of lists** → where the first inner list contains column names, and the rest are row values.  
   - In this case, `send_column_info` **must be set to True**.  
   - All rows must have equal length.  
2. A **dictionary** → where keys are column names and values are lists.  
   - All lists must be of **equal length**.  

If the input is invalid, an error will be raised.  
Otherwise, the function will return a valid **Pandas DataFrame**.

In [7]:
import pandas as pd

def _validate_data(data, send_column_info):
    """Helper function to validate the input before creating DataFrame."""
    # Case 1: List of lists
    if isinstance(data, list):
        if not all(isinstance(row, list) for row in data):
            raise TypeError("All elements must be lists when passing a list of lists.")
        if not send_column_info:
            raise ValueError("send_column_info must be True when passing a list of lists.")
        # check equal length
        length = len(data[0])
        if not all(len(row) == length for row in data):
            raise ValueError("All rows (including column info) must have the same length.")
        return "list"

    # Case 2: Dictionary
    elif isinstance(data, dict):
        lengths = [len(v) for v in data.values()]
        if len(set(lengths)) != 1:
            raise ValueError("All columns in the dictionary must have equal length.")
        return "dict"

    else:
        raise TypeError("Data must be either a list of lists or a dictionary.")


def convert_to_pd(data, indexes=None, send_column_info=True):
    """
        Convert structured data into a Pandas DataFrame.
    
        Parameters
        ----------
        data : list of lists or dict
            If a list of lists is provided:
            - The first inner list must contain column names.
            - The following inner lists contain row data.
            - In this case, `send_column_info` must be set to True.
            
            If a dictionary is provided:
            - Keys become column names.
            - Values must be lists of equal length (each list represents column data).
    
        indexes : list, optional
            Custom index labels for the DataFrame rows. 
            If None, default numeric indices are used.
    
        send_column_info : bool, default=True
            Used only when data is a list of lists.
            Ensures that the first item in the list contains column names.
        
        Returns
        -------
        pd.DataFrame
            A pandas DataFrame created from the given data.
    
        Raises
        ------
        TypeError, ValueError
            If the input data is invalid.
    """
    dtype = _validate_data(data, send_column_info)

    if dtype == "list":
        columns = data[0]
        rows = data[1:]
        return pd.DataFrame(rows, columns=columns, index=indexes)
    
    elif dtype == "dict":
        return pd.DataFrame(data, index=indexes)

In [8]:
"""
Environment 1:
Creating a DataFrame from a list of lists.
The first row contains column names, and the rest are data rows.
"""

data_list = [
    ["ID", "Name", "Age"],
    [1, "Alice", 23],
    [2, "Bob", 27],
    [3, "Charlie", 22]
]

df1 = convert_to_pd(data_list)
print(df1)

   ID     Name  Age
0   1    Alice   23
1   2      Bob   27
2   3  Charlie   22

In [9]:
"""
Environment 2:
Creating a DataFrame from a dictionary.
Keys become column names and values are lists of equal length.
"""

data_dict = {
    "ID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [23, 27, 22]
}

df2 = convert_to_pd(data_dict)
print(df2)

   ID     Name  Age
0   1    Alice   23
1   2      Bob   27
2   3  Charlie   22

In [10]:
"""
Environment 3:
Creating a DataFrame from a list of lists with custom index labels.
The first row contains column names and custom row labels are provided.
"""

data_list = [
    ["ID", "Name", "Age"],
    [1, "Alice", 23],
    [2, "Bob", 27],
    [3, "Charlie", 22]
]

custom_index = ["emp001", "emp002", "emp003"]

df3 = convert_to_pd(data_list, indexes=custom_index)
print(df3)

        ID     Name  Age
emp001   1    Alice   23
emp002   2      Bob   27
emp003   3  Charlie   22

In [11]:
"""
Environment 4:
Creating a DataFrame from a dictionary with custom index labels.
Each key-value pair becomes a column with provided row labels.
"""
data_dict = {
    "ID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [23, 27, 22]
}

custom_index = ["emp001", "emp002", "emp003"]

df4 = convert_to_pd(data_dict, indexes=custom_index)
print(df4)

        ID     Name  Age
emp001   1    Alice   23
emp002   2      Bob   27
emp003   3  Charlie   22

In [12]:
"""
Environment 5:
Attempting to create a DataFrame from a list of lists with unequal row lengths.
This should raise a ValueError because row sizes are inconsistent.
"""

bad_data_list = [
    ["ID", "Name", "Age"],
    [1, "Alice", 23],
    [2, "Bob"]   # Missing one value
]

try:
    df5 = convert_to_pd(bad_data_list)
except Exception as e:
    print(e)

All rows (including column info) must have the same length.

In [13]:
"""
Environment 6:
Attempting to create a DataFrame from a dictionary with unequal list lengths.
This should raise a ValueError because all columns must have the same number of rows.
"""

bad_data_dict = {
    "ID": [1, 2, 3],
    "Name": ["Alice", "Bob"],  # Fewer values
    "Age": [23, 27, 22]
}

try:
    df6 = convert_to_pd(bad_data_dict)
except Exception as e:
    print(e)

All columns in the dictionary must have equal length.

In [14]:
"""
Environment 7:
Passing a list of lists but setting send_column_info=False (default overridden).
This should raise a ValueError because column information is set to send_column_info=False.
"""
false_param_data_list = [
    ["ID", "Name", "Age"],
    [1, "Alice", 23],
    [2, "Bob", 27]
]

try:
    df7 = convert_to_pd(false_param_data_list,send_column_info=False)
except Exception as e:
    print(e)

send_column_info must be True when passing a list of lists.

# Importing a Popular Dataset with Pandas

We often use Pandas to load datasets from files such as CSV, Excel, or online sources.  
Here we will import the **Iris dataset**, which is a very popular dataset in machine learning.  
It contains measurements of flower species (setosa, versicolor, virginica) with features like petal and sepal length/width.

We will read it directly from an online CSV file using `pd.read_csv()`.

In [15]:
import pandas as pd

# Importing the Iris dataset from UCI repository
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"

iris_df = pd.read_csv(url)

print("Iris dataset:\n")
print(iris_df)

Iris dataset:

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# Number of Rows

The number of rows tells us how many observations (records) are present in the dataset.  
We can get this by checking the shape of the DataFrame.

In [16]:
# Number of rows in the dataset
num_rows = iris_df.shape[0]
print("Number of rows:", num_rows)

Number of rows: 150

# Number of Columns

The number of columns tells us how many features (variables) are present in the dataset.  
We can also check this using the shape of the DataFrame.

In [17]:
# Number of columns in the dataset
num_columns = iris_df.shape[1]
print("Number of columns:", num_columns)

Number of columns: 5

# First Five Rows

We use `.head()` to display the first five rows.  
This gives us a quick look at the structure and content of the dataset.

In [18]:
# Display first five rows of the dataset
print("First five rows:\n")
print(iris_df.head())

First five rows:

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# Last Five Rows

We use `.tail()` to display the last five rows of the dataset.  
This helps us see the ending portion of the data and confirm if rows are ordered properly.

In [19]:
# Display last five rows of the dataset
print("Last five rows:\n")
print(iris_df.tail())

Last five rows:

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

# Size of the Dataset

The size gives the total number of elements in the dataset.  
This is equal to (rows × columns).

In [20]:
# Size of the dataset (total elements)
print("Size of dataset:", iris_df.size)

Size of dataset: 750

# Number of Missing Values

Missing values can affect analysis.  
We use `.isnull().sum()` to check how many missing values are in each column.

In [21]:
# Count of missing values per column
print("Missing values in each column:\n")
print(iris_df.isnull().sum())

Missing values in each column:

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

# Sum of Numerical Columns

We use `.sum()` on the DataFrame to compute column-wise sums.  
This will only apply to numerical columns.

In [22]:
# Sum of all numerical columns
print("Sum of numerical columns:\n")
print(iris_df.sum(numeric_only=True))

Sum of numerical columns:

sepal_length    876.5
sepal_width     458.6
petal_length    563.7
petal_width     179.9
dtype: float64

# Average (Mean) of Numerical Columns

The average gives the central tendency of each numerical column.  
We use `.mean()` for this.

In [23]:
# Average (mean) of all numerical columns
print("Average of numerical columns:\n")
print(iris_df.mean(numeric_only=True))

Average of numerical columns:

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

# Minimum Values of Numerical Columns

The minimum value indicates the smallest entry in each numerical column.  
We use `.min()` for this.

In [24]:
# Minimum values of all numerical columns
print("Minimum values of numerical columns:\n")
print(iris_df.min(numeric_only=True))

Minimum values of numerical columns:

sepal_length    4.3
sepal_width     2.0
petal_length    1.0
petal_width     0.1
dtype: float64

# Maximum Values of Numerical Columns

The maximum value indicates the largest entry in each numerical column.  
We use `.max()` for this.

In [25]:
# Maximum values of all numerical columns
print("Maximum values of numerical columns:\n")
print(iris_df.max(numeric_only=True))

Maximum values of numerical columns:

sepal_length    7.9
sepal_width     4.4
petal_length    6.9
petal_width     2.5
dtype: float64

# Dataset Summary Function

We now define a single function `dataset_summary()` that takes either:
- A **URL / file path** to a CSV file  
- Or a **Pandas DataFrame** directly  

It will print all the dataset details in order:  
1. Number of rows  
2. Number of columns  
3. First 5 rows  
4. Last 5 rows  
5. Size  
6. Missing values  
7. Sum of numerical columns  
8. Average of numerical columns  
9. Minimum values  
10. Maximum values

In [26]:
import pandas as pd

def dataset_summary(data):
    """
        Display a detailed summary of a dataset.
    
        Parameters
        ----------
        data : str or pd.DataFrame
            - If str: assumed to be a URL or file path to a CSV file.
            - If DataFrame: used directly.
    
        Prints
        ------
        - Number of rows
        - Number of columns
        - First 5 rows
        - Last 5 rows
        - Size (total elements)
        - Missing values per column
        - Sum of numerical columns
        - Average (mean) of numerical columns
        - Minimum values of numerical columns
        - Maximum values of numerical columns
    """
    # Load the dataset
    if isinstance(data, str):
        df = pd.read_csv(data)
    elif isinstance(data, pd.DataFrame):
        df = data
    else:
        raise TypeError("Input must be a URL/file path (str) or a Pandas DataFrame.")

    # 1. Number of rows
    print("\033[1mNumber of rows:\033[0m", df.shape[0], "\n")

    # 2. Number of columns
    print("\033[1mNumber of columns:\033[0m", df.shape[1], "\n")

    # 3. First 5 rows
    print("\033[1mFirst 5 rows:\n\033[0m", df.head(), "\n")

    # 4. Last 5 rows
    print("\033[1mLast 5 rows:\n\033[0m", df.tail(), "\n")

    # 5. Size
    print("\033[1mSize of dataset (total elements): \033[0m", df.size, "\n")

    # 6. Missing values
    print("\033[1mMissing values per column:\n\033[0m", df.isnull().sum(), "\n")

    # 7. Sum of numerical columns
    print("\033[1mSum of numerical columns:\n\033[0m", df.sum(numeric_only=True), "\n")

    # 8. Average of numerical columns
    print("\033[1mAverage of numerical columns:\n\033[0m", df.mean(numeric_only=True), "\n")

    # 9. Minimum values
    print("\033[1mMinimum values of numerical columns:\n\033[0m", df.min(numeric_only=True), "\n")

    # 10. Maximum values
    print("\033[1mMaximum values of numerical columns:\n\033[0m", df.max(numeric_only=True), "\n")

In [27]:
# Example usage with Iris dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"
dataset_summary(url)

Number of rows: 150

Number of columns: 5

First 5 rows:
    sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Last 5 rows:
      sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

Size of dataset (total elements):  750

Missing values per column:
 sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

Sum of numerical columns:
 sepal_length    876.5
sepal_width     458.6
petal_length    563.7
petal_width     179.9
dtype: float64

Average of numerical columns:
 sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

Minimum values of numerical columns:
 sepal_length    4.3
sepal_width     2.0
petal_length    1.0
petal_width     0.1
dtype: float64

Maximum values of numerical columns:
 sepal_length    7.9
sepal_width     4.4
petal_length    6.9
petal_width     2.5
dtype: float64

# Creating a DataFrame and Demonstrating loc vs iloc

We will create a DataFrame using the `convert_to_pd` helper function we defined earlier,  
with a dictionary as input.

Then we will demonstrate the difference between **`.loc`** and **`.iloc`**:

- `.loc` → selects rows and columns **by labels** (index names or column names)  
- `.iloc` → selects rows and columns **by integer positions** (0-based indexing)

In [28]:
# Dictionary input
data_dict = {
    "ID": [101, 102, 103],
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [23, 27, 22]
}

# Custom index
custom_index = ["emp001", "emp002", "emp003"]

# Create DataFrame using helper function
df_demo = convert_to_pd(data_dict, indexes=custom_index)

# Bold header
bold = "\033[1m"
reset = "\033[0m"

print(f"{bold}DataFrame:{reset}")
print(df_demo, end="\n\n")

# --- Demonstrate loc ---
print(f"{bold}Using .loc to select row 'emp002' and column 'Name':{reset}", df_demo.loc["emp002", "Name"], end="\n\n")

print(f"{bold}Using .loc to select multiple rows and columns:{reset}")
print(df_demo.loc[["emp001", "emp003"], ["ID", "Age"]], end="\n\n")

# --- Demonstrate iloc ---
print(f"{bold}Using .iloc to select the second row and third column (position based):{reset}", df_demo.iloc[1, 2], end="\n\n")

print(f"{bold}Using .iloc to select multiple rows and columns (positions):{reset}")
print(df_demo.iloc[[0, 2], [0, 2]], end="\n\n")

DataFrame:
         ID     Name  Age
emp001  101    Alice   23
emp002  102      Bob   27
emp003  103  Charlie   22

Using .loc to select row 'emp002' and column 'Name': Bob

Using .loc to select multiple rows and columns:
         ID  Age
emp001  101   23
emp003  103   22

Using .iloc to select the second row and third column (position based): 27

Using .iloc to select multiple rows and columns (positions):
         ID  Age
emp001  101   23
emp003  103   22

# Creating Base DataFrame

We will create a DataFrame from a dictionary that will be used for all upcoming operations.  
This DataFrame has 5 rows, multiple numerical and categorical columns, and custom indices.

In [29]:
# Sample dictionary
data_dict = {
    "ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [23, 27, 22, 25, 30],
    "Salary": [50000, 60000, 55000, 65000, 70000],
    "Department": ["HR", "IT", "IT", "Finance", "HR"]
}

# Custom index
custom_index = ["emp001", "emp002", "emp003", "emp004", "emp005"]

# Create DataFrame using helper function
df = convert_to_pd(data_dict, indexes=custom_index)

bold = "\033[1m"
reset = "\033[0m"

print(f"{bold}Base DataFrame:{reset}")
print(df, end="\n\n")

Base DataFrame:
         ID     Name  Age  Salary Department
emp001  101    Alice   23   50000         HR
emp002  102      Bob   27   60000         IT
emp003  103  Charlie   22   55000         IT
emp004  104    David   25   65000    Finance
emp005  105      Eva   30   70000         HR

# Slicing & Boolean Indexing

We will demonstrate:
- Selecting rows using integer positions (`.iloc`)  
- Selecting rows/columns by labels (`.loc`)  
- Conditional selection based on numerical or categorical values

In [30]:
# Slice first 3 rows using iloc
print(f"{bold}First 3 rows using iloc:{reset}")
print(df.iloc[:3], end="\n\n")

# Select Salary column using loc
print(f"{bold}Salary column using loc:{reset}")
print(df.loc[:, "Salary"], end="\n\n")

# Conditional selection: Age > 25
print(f"{bold}Rows where Age > 25:{reset}")
print(df[df["Age"] > 25], end="\n\n")

# Multiple conditions: Age>25 and Department=='IT'
print(f"{bold}Rows where Age>25 and Department=='IT':{reset}")
print(df[(df["Age"] > 25) & (df["Department"] == "IT")], end="\n\n")

First 3 rows using iloc:
         ID     Name  Age  Salary Department
emp001  101    Alice   23   50000         HR
emp002  102      Bob   27   60000         IT
emp003  103  Charlie   22   55000         IT

Salary column using loc:
emp001    50000
emp002    60000
emp003    55000
emp004    65000
emp005    70000
Name: Salary, dtype: int64

Rows where Age > 25:
         ID Name  Age  Salary Department
emp002  102  Bob   27   60000         IT
emp005  105  Eva   30   70000         HR

Rows where Age>25 and Department=='IT':
         ID Name  Age  Salary Department
emp002  102  Bob   27   60000         IT

# Adding / Modifying Columns

We will:
- Add a new column 'Bonus' as 10% of Salary  
- Modify existing column values  
- Drop a column

In [31]:
# Add new column Bonus
df["Bonus"] = df["Salary"] * 0.10

print(f"{bold}DataFrame after adding Bonus column:{reset}")
print(df, end="\n\n")

# Modify Salary column (increase by 5%)
df["Salary"] = df["Salary"] * 1.05
print(f"{bold}DataFrame after increasing Salary by 5%:{reset}")
print(df, end="\n\n")

# Drop Bonus column
df.drop("Bonus", axis=1, inplace=True)
print(f"{bold}DataFrame after dropping Bonus column:{reset}")
print(df, end="\n\n")

DataFrame after adding Bonus column:
         ID     Name  Age  Salary Department   Bonus
emp001  101    Alice   23   50000         HR  5000.0
emp002  102      Bob   27   60000         IT  6000.0
emp003  103  Charlie   22   55000         IT  5500.0
emp004  104    David   25   65000    Finance  6500.0
emp005  105      Eva   30   70000         HR  7000.0

DataFrame after increasing Salary by 5%:
         ID     Name  Age   Salary Department   Bonus
emp001  101    Alice   23  52500.0         HR  5000.0
emp002  102      Bob   27  63000.0         IT  6000.0
emp003  103  Charlie   22  57750.0         IT  5500.0
emp004  104    David   25  68250.0    Finance  6500.0
emp005  105      Eva   30  73500.0         HR  7000.0

DataFrame after dropping Bonus column:
         ID     Name  Age   Salary Department
emp001  101    Alice   23  52500.0         HR
emp002  102      Bob   27  63000.0         IT
emp003  103  Charlie   22  57750.0         IT
emp004  104    David   25  68250.0    Finance
emp005  105      Eva   30  73500.0         HR

# Sorting & Ranking

We will:
- Sort DataFrame by Age and Salary  
- Sort by index  
- Rank Age values

In [32]:
# Sort by Age ascending
print(f"{bold}DataFrame sorted by Age:{reset}")
print(df.sort_values(by="Age"), end="\n\n")

# Sort by Salary descending
print(f"{bold}DataFrame sorted by Salary descending:{reset}")
print(df.sort_values(by="Salary", ascending=False), end="\n\n")

# Sort by index
print(f"{bold}DataFrame sorted by index:{reset}")
print(df.sort_index(), end="\n\n")

# Rank Age
print(f"{bold}Age ranking:{reset}")
print(df["Age"].rank(), end="\n\n")

DataFrame sorted by Age:
         ID     Name  Age   Salary Department
emp003  103  Charlie   22  57750.0         IT
emp001  101    Alice   23  52500.0         HR
emp004  104    David   25  68250.0    Finance
emp002  102      Bob   27  63000.0         IT
emp005  105      Eva   30  73500.0         HR

DataFrame sorted by Salary descending:
         ID     Name  Age   Salary Department
emp005  105      Eva   30  73500.0         HR
emp004  104    David   25  68250.0    Finance
emp002  102      Bob   27  63000.0         IT
emp003  103  Charlie   22  57750.0         IT
emp001  101    Alice   23  52500.0         HR

DataFrame sorted by index:
         ID     Name  Age   Salary Department
emp001  101    Alice   23  52500.0         HR
emp002  102      Bob   27  63000.0         IT
emp003  103  Charlie   22  57750.0         IT
emp004  104    David   25  68250.0    Finance
emp005  105      Eva   30  73500.0         HR

Age ranking:
emp001    2.0
emp002    4.0
emp003    1.0
emp004    3.0
emp005    5.0
Name: Age, dtype: float64

# String & Categorical Operations

We will:
- Convert 'Department' names to uppercase  
- Check which names contain 'a'  
- Convert Department column to category type and show codes

In [33]:
# Uppercase Department
df["Department"] = df["Department"].str.upper()
print(f"{bold}Department in uppercase:{reset}")
print(df["Department"], end="\n\n")

# Names containing 'a' (case-insensitive)
print(f"{bold}Names containing 'a':{reset}")
print(df[df["Name"].str.contains("a", case=False)], end="\n\n")

# Convert to categorical and show codes
df["Department"] = df["Department"].astype("category")
print(f"{bold}Department category codes:{reset}")
print(df["Department"].cat.codes, end="\n\n")

Department in uppercase:
emp001         HR
emp002         IT
emp003         IT
emp004    FINANCE
emp005         HR
Name: Department, dtype: object

Names containing 'a':
         ID     Name  Age   Salary Department
emp001  101    Alice   23  52500.0         HR
emp003  103  Charlie   22  57750.0         IT
emp004  104    David   25  68250.0    FINANCE
emp005  105      Eva   30  73500.0         HR

Department category codes:
emp001    1
emp002    2
emp003    2
emp004    0
emp005    1
dtype: int8

# Aggregation & Grouping

We will:
- Group by Department  
- Compute mean Salary and Age per group  
- Apply multiple aggregation functions

In [34]:
# Group by Department and mean (silencing FutureWarning)
print(f"{bold}Mean Salary and Age by Department:{reset}")
print(df.groupby("Department", observed=False)[["Salary", "Age"]].mean(), end="\n\n")

# Multiple aggregation functions
print(f"{bold}Multiple aggregations by Department:{reset}")
print(df.groupby("Department", observed=False)[["Salary", "Age"]].agg(["mean", "sum", "min", "max"]), end="\n\n")

Mean Salary and Age by Department:
             Salary   Age
Department
FINANCE     68250.0  25.0
HR          63000.0  26.5
IT          60375.0  24.5

Multiple aggregations by Department:
             Salary                               Age
               mean       sum      min      max  mean sum min max
Department
FINANCE     68250.0   68250.0  68250.0  68250.0  25.0  25  25  25
HR          63000.0  126000.0  52500.0  73500.0  26.5  53  23  30
IT          60375.0  120750.0  57750.0  63000.0  24.5  49  22  27

# Combining / Merging DataFrames

We will demonstrate:
- Concatenating two DataFrames  
- Merging DataFrames on a common column

In [35]:
# -------------------------------
# 6️⃣ Combining / Merging DataFrames (Custom index preserved)
# -------------------------------

# Markdown explanation (for your reference)
"""
# Combining / Merging DataFrames

We will demonstrate:
- Concatenating two DataFrames  
- Merging DataFrames on a common column (ID) while keeping the custom index
"""

# Create a second small DataFrame
data_extra = {
    "ID": [106, 107],
    "Name": ["Frank", "Grace"],
    "Age": [28, 26],
    "Salary": [72000, 68000],
    "Department": ["IT", "HR"]
}
df_extra = convert_to_pd(data_extra, indexes=["emp006", "emp007"])

# Concatenate
df_concat = pd.concat([df, df_extra])
print(f"{bold}Concatenated DataFrame:{reset}")
print(df_concat, end="\n\n")

# Merge example: create a bonus DataFrame
bonus_dict = {
    "ID": [101, 102, 103, 104, 105, 106, 107],
    "Bonus": [5000, 6000, 5500, 6500, 7000, 7200, 6800]
}
df_bonus = convert_to_pd(bonus_dict, indexes=[f"emp{str(i).zfill(3)}" for i in range(1,8)])

# Merge df_concat with df_bonus using index to preserve emp001, emp002...
df_merged = df_concat.merge(df_bonus[["Bonus"]], left_index=True, right_index=True)

print(f"{bold}Merged DataFrame with Bonus (custom index preserved):{reset}")
print(df_merged, end="\n\n")

Concatenated DataFrame:
         ID     Name  Age   Salary Department
emp001  101    Alice   23  52500.0         HR
emp002  102      Bob   27  63000.0         IT
emp003  103  Charlie   22  57750.0         IT
emp004  104    David   25  68250.0    FINANCE
emp005  105      Eva   30  73500.0         HR
emp006  106    Frank   28  72000.0         IT
emp007  107    Grace   26  68000.0         HR

Merged DataFrame with Bonus (custom index preserved):
         ID     Name  Age   Salary Department  Bonus
emp001  101    Alice   23  52500.0         HR   5000
emp002  102      Bob   27  63000.0         IT   6000
emp003  103  Charlie   22  57750.0         IT   5500
emp004  104    David   25  68250.0    FINANCE   6500
emp005  105      Eva   30  73500.0         HR   7000
emp006  106    Frank   28  72000.0         IT   7200
emp007  107    Grace   26  68000.0         HR   6800

# Advanced Summary & Info

We will:
- Use describe() for statistics  
- Use info() to check data types, non-null counts, memory usage

In [36]:
# describe()
print(f"{bold}Descriptive statistics of numerical columns:{reset}")
print(df.describe(), end="\n\n")

# info()
print(f"{bold}DataFrame info:{reset}")
df.info()

Descriptive statistics of numerical columns:
               ID        Age        Salary
count    5.000000   5.000000      5.000000
mean   103.000000  25.400000  63000.000000
std      1.581139   3.209361   8300.978858
min    101.000000  22.000000  52500.000000
25%    102.000000  23.000000  57750.000000
50%    103.000000  25.000000  63000.000000
75%    104.000000  27.000000  68250.000000
max    105.000000  30.000000  73500.000000

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, emp001 to emp005
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          5 non-null      int64
 1   Name        5 non-null      object
 2   Age         5 non-null      int64
 3   Salary      5 non-null      float64
 4   Department  5 non-null      category
dtypes: category(1), float64(1), int64(2), object(1)
memory usage: 509.0+ bytes